[Unit]
Description=TP3 Yahoo Finance Crawler
After=network.target

[Service]
Type=oneshot
User=o001
Group=o001
WorkingDirectory=/home/o001/TP3_IS/crawler
EnvironmentFile=/home/o001/TP3_IS/crawler/.env

StandardOutput=journal
ExecStart=/usr/bin/python3 -u crawler.py

[Install]
WantedBy=multi-user.target